<div id="personalizedWrapper">
    <script data-th-inline="javascript">
        /*[+
        var personalizedComponents = [[${personalizedComponents}]];
        +]*/
    </script>
    <th-block data-th-if="${showGender}">
        <select id="personalizedGenderSelect" name="gender">
            <option value="" selected="true">Se som kvinne / mann</option>
            <option value="female">Kvinne</option>
            <option value="male">Mann</option>
        </select>
    </th-block>
    <th-block data-th-if="${showBirthyear}">
        <input type="number" placeholder="Fødselsår" id="personalizedBirthyearInput" name="birthyear">
    </th-block>
    <th-block data-th-if="${showNBA}">
        <select id="personalizedNBASelect" name="nba">
            <option value="" selected="true">Velg NBA (Next Best Action)</option>
            <th-block data-th-each="nba : ${personalizations.nbas}">
                <option data-th-value="${nba}" data-th-text="${nba}"/>
            </th-block>
        </select>
    </th-block>
</div>